.root {
    display: grid;
    grid-auto-flow: row;
 
    padding: 1rem;
    background-color: #506580;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.5);
    
}


.recipe-card-container{
    //4 per row
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    padding: 1rem;
    // margin: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: #e7e6de;
    border-radius: 0 0 10px 10px;
    border-bottom: 5px solid #e2bd98;
    border-left: 5px solid #e2bd98;
    border-right: 5px solid #e2bd98;
   
    
    max-height: 1000px;

    overflow: auto;


}



.profile-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    background-color: #e7e6de;
    border-radius: 10px;
    border: 5px solid #e2bd98;
}

.profile-image-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    background-color: #e7e6de;
    border-radius: 10px;
    border: 5px solid #e2bd98;
}

.profile-info-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    background-color: #e7e6de;
    border-radius: 10px;
    border: 5px solid #e2bd98;
}

.profile-info {
 
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
  
}

.profile-info h1 {
    font-size: 2rem;
    font-weight: 400;
    color: #bd6160;
}

.profile-info h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #bd6160;
}


.profile-info button:hover {
    background-color: #d17f74;
}

.profile-info input {
    padding: 1rem;
    border: 5px solid #e2bd98;
    border-radius: 5px;
    background-color: #e7e6de;
    color: #bd6160;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 300ms;
}

.profile-info input:focus {
    outline: none;
    background-color: #d17f74;
}

.profile-info input::placeholder {
    color: #bd6160;
    font-size: 1.5rem;
    font-weight: 400;
}

