:root {
 
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
    background-image: url("../../client//src/assets/images/Watercolor-Fruits-Pattern2.png");
  background-repeat: repeat;
 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 1rem;
  border: 5px solid #e2bd98;
  border-radius: 5px;
  background-color: #e7e6de;
  color: #bd6160;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 300ms;
  
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.input-box{
  margin: 1rem;
  padding: 1.75rem;
  background-color: #e7e6de;
  border-radius: 10px;
  border: 5px solid #e2bd98;
  color: #bd6160;
  font-size: 1.5rem;
}
.input-box::placeholder{
  color: #bd6160;
}