.root {
  
    
}



.input-box{
    margin: 1rem;
    padding: 1.75rem;
    background-color: #e7e6de;
    border-radius: 10px;
    border: 5px solid #e2bd98;
    color: #bd6160;
    font-size: 1.5rem;
  }
  .input-box::placeholder{
    color: #bd6160;
  }
.item-form {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.update-recipe-instruction{
  
  margin: 1rem;

  align-self: center;
  justify-self: flex-end;
  
}



@media (max-width: 500px){
  
  
  .input-box{
    width: 100%;
    max-width: 100px;
    font-size: small;
    font-weight: 400;
  }
  .input-box::placeholder{
    font-size: small;
    font-weight: 400;
  }
  .input-box:focus::placeholder {
    color: transparent;
  }


}