



.root{


    justify-content: center;
    align-items: center;
    background-color: #d17f74;
    
   
}

.item-form{
    display: flex;
    flex-direction: column;
    // grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  


}



.add-recipe-item{

    justify-content: center;
    
    margin: 1rem;
    background-color: #e7e6de;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.5);
    border: 1rem solid #1c685e;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.75);
    padding: 1rem;
    width: 100%;
    max-width: 500px;
 

    
}

.input-box{
  margin: 1rem;
  padding: 1.75rem;
  background-color: #e7e6de;
  border-radius: 10px;
  border: 5px solid #e2bd98;
  color: #bd6160;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
.input-box::placeholder{
  color: #bd6160;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;

}
.input-box:focus::placeholder {
  color: transparent;
}
  .input-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;

    padding: 1rem;
  }



.description-form{
    display: flex;
    flex-direction: column;
    // grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    
    padding: 1rem;
 

}


@media (max-width: 500px){

  .add-recipe-item{
    width: 100%;
    max-width: 500px;
  }
  .input-box{
    width: 100%;
    max-width: 150px;
    font-size: small;
    font-weight: 400;
  }
  .input-box::placeholder{
    font-size: small;
    font-weight: 400;
  }
  .input-box:focus::placeholder {
    color: transparent;
  }
  .input-container{
    width: 100%;
    max-width: 500px;
  }
  .description-form{
    width: 100%;
    padding: 0;
   
  }
  .input-container{
  
    grid-auto-flow: row;


  }


}