.root {
}
.item-form {
  display: grid;
  justify-items: center;
}
.input-box {
  border: 1px solid black;
  border-radius: 10px;
}
.add-recipe-item {
}


// .recipe-dropdowns{
//   display: grid;
//   grid-auto-flow: column;
//   grid-gap: 1rem;
//   justify-content: center;
//   margin-bottom: 1rem;
// }