
.root {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 2rem;
    
    padding: 1rem;
    background-color: #266d67;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.5);
    
}



.search-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    background-color: #e7e6de;
    border-radius: 10px;
    border: 5px solid #e2bd98;
}

.search-bar {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    background-color: #e7e6de;
    border-radius: 10px;
    border: 5px solid #e2bd98;
    
}

.search-bar input {
    padding: 1rem;

    border: 5px solid #e2bd98;
    border-radius: 5px;
    background-color: #e7e6de;
    color: #bd6160;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 300ms;
    
}

.search-bar input:focus {
    outline: none;
    background-color: #d17f74;
}

.search-bar input::placeholder {
    color: #bd6160;
    font-size: 1.5rem;
    font-weight: 400;
}

.search-buttons button {
    padding: 1rem;
    border: 5px solid #e2bd98;
    border-radius: 5px;
    background-color: #e7e6de;
    color: #bd6160;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 300ms;
}

.search-buttons button:hover {
    background-color: #d17f74;
}

