

.root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
    
&.portion-dropdown{
    
 
        margin: 1rem;
        padding: 1rem;
        background-color: #e7e6de;
        border-radius: 10px;
        border: 5px solid #e2bd98;
        position: sticky;
        
    
    
}
&.cuisine-dropdown{
    
 
        margin: 1rem;
        padding: 1rem;
        background-color: #e7e6de;
        border-radius: 10px;
        border: 5px solid #e2bd98;
     
    
    
}
&.type-dropdown{
     
     
          margin: 1rem;
          padding: 1rem;
          background-color: #e7e6de;
          border-radius: 10px;
          border: 5px solid #e2bd98;
        
     
}
:hover{

 
    cursor: pointer;
}

}


