
.root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    
}
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #e7e6de;
    border-radius: 10px;
    border: 5px solid #e2bd98;
    position: sticky;
   
  }
  .pagination-button-active{
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #bd6160;
    color: black;
    border-radius: 10px;
    border: 5px solid #e2bd98;
    position: sticky;
    :hover{
        cursor: pointer;
    }
  }
  
  .pagination-ellipsis{
    /* Add your custom styles for the ellipsis buttons here */
    font-weight: bold; /* For example, make the ellipsis bold */
    color: gray;
    margin: 0.1rem;
 
  }


  
